<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="IgnoreStaticFiles" stopProcessing="true">
                    <match url=".*\.(css|js|html|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot)$" />
                    <action type="None" />
                </rule>
                <rule name="ReqToServerjs" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <!-- <iisnode loggingEnabled="true" devErrorsEnabled="true" /> -->
              <iisnode loggingEnabled="true" devErrorsEnabled="true" />
    </system.webServer>
</configuration>
